<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted from Rotten Mango, <%= @user.firstname %></h1>
    <p>
      Your account has been deleted from Rotten Mango.
      Your username was: <%= @user.email %>.<br>
    </p>
    <p>
      To create a new account, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>